.profile-list {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.radius-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}
.state-box {
  position: relative;
  float: left;
}
.state-offline {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dbdbdb;
  left: 55px;
  top: 55px;
  border: 1px solid white;
}
.state-online {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4cfe88;
  left: 55px;
  top: 55px;
  border: 1px solid white;
}
.clear-float {
  clear: left;
}
