:root{
  --x-large-size : 18px;
  --large-size : 16px;
  --medium-size : 14px;

  --default-color : #000;
  --white-color : #fff;
  --gray-color : hsl(0, 0%, 52%);
  --focus-color : #2049DF;
  --hover-color : #f5f5f5;
  --border-color : hsl(0,0%,92%);
}
body{
  background-color:#EEF0F3;
}

.recommend-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: var(--white-color);
  width: 384px;
  height: 372px;
  margin: auto;
}
.recommend-game-button-wrapper{
  width: 100%;
  height: 64px;
  display: flex;
  
}

.recommend-game-button{
  display: flex;
  align-items: center;
  border-radius: 50px;
  border : none;
  background-color: var(--white-color);
  padding : 4px 10px;
  margin : 10px;
  font-size: 18px;
  font-weight: bold;
  
  .game-icon{
    padding-inline-end : 6px;
  }
  .arrow-icon{
    margin-inline-start: 5px;
  }
}

.recommend-game-button:hover{
   background-color:var(--hover-color);
}
.recommend-game-button:focus{
   outline: 1px solid var(--focus-color);
}

.game-page-link{
  text-decoration: none;
  color: inherit;

  &:focus{
    outline: 1px solid var(--focus-color);
  }
}
.recommend-game-list{
  display: flex;
  flex-direction: row;
  width: 384px;
  height: 246px;
  justify-content: center;
}

.recommend-game-profile{
  width : 160px;
  height: 240px;
  margin-inline : 10px;
}

.game-profile-image{
  position: relative;
  width: 160px;
  height: 170px;
  border-radius: 10px;
  overflow : hidden;

  .background-image{
    position: absolute;
    border-radius : 10px;  
    top : 12px;
    z-index : 1;
  }
  .character-image{
    position: absolute;
    border-radius : 10px;
    z-index: 2;
   transform: scale(1);
   transition: transform 0.6s ease-in-out;
  }
}


.recommend-game-profile:hover {
.character-image {
  transform: scale(1.04); 
  }
.game-info-message{
  color: var(--gray-color);
}
}

.game-info-message{
  .game-title{
    font-size : var(--large-size);
    margin: 5px 0 0 0;
  }

  .game-slogan{
    margin: 0;
    font-size: var(--medium-size);
  }

  .game-genre{
    font-size: var(--medium-size);
    color : var(--gray-color);
    margin :0;
  }
}

.page-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  font-size: var(--large-size);  
}
 .page-turn-button{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: var(--x-large-size);
    border: none;
    background-color: var(--white-color);
    border: 2px solid var(--hover-color);
    margin-inline: 12px;

    &:hover{
      background-color: var(--hover-color);
      border: 1px solid var(--border-color);

    }

    &:focus{
      border: none;
      outline: 1px solid var(--focus-color)
    }
  }
